<!DOCTYPE html>
<html lang="en">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <th>
        本文讨论的中亚地区仅指哈萨克斯坦、乌兹别克斯坦、吉尔吉斯斯坦、塔吉克斯坦和土库曼斯坦。<font color=red>中国</font>新疆与中亚地区的技术转移,经历近30年的发展,初步形成多层次多方位多领域的格局。这与<font color=red>中国</font>改革开放和<font color=red>科技</font>创新
    </th>
</div>
</body>
</html>
 